.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  height: 293px;
  padding: 0 50px;
  font-family: Raleway;
  font-weight: normal;
  font-size: 18px;
  /* line-height: 22px; уточнить высоту в хедере */
  color: rgb(0, 0, 0);
}

.header__menu {
}

.header__links-list {
  display: flex;
  gap: 32px;
  justify-content: flex-start;
  align-items: center;
  list-style: circle;
}

.header__links-list-item {
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
}

.header__link_active {
  text-transform: none;
}

.header__logo {
  display: block;
  width: 148px;
}

.header__logo-image {
  height: 100%;
}

.address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 240px;
  /* line-height: 24.3px; */
}

.header__address {
  max-width: 474px;
  justify-self: end;
}

.cover {
  min-height: 757px;
  padding: 165px 50px 50px;
  position: relative;
  z-index: -1;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  /* background-repeat: no-repeat; */
}

.overlay {
  background-color: rgb(0 0 0 / 0.6);
  /* z-index: 1; */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
  z-index: 1;
  color: #fff;
  text-transform: uppercase;
  font-family: Raleway;
  font-weight: bold;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 30%;
  margin-bottom: 106px;
}

.aligned-text {
  z-index: 1;
}

.aligned-text_left {
  z-index: 1;
  align-self: flex-start;
}

.aligned-text_center {
  z-index: 1;
  align-self: center;
}

.aligned-text_right {
  z-index: 1;
  align-self: flex-end;
}

.letter-spacing-extended {
}

.no-letter-spacing {
}

.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* z-index: 1; */
}

.cover__description-text {
  font-family: Raleway;
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0%;
  text-transform: uppercase;
  word-spacing: 20px;
  color: #fff;
  z-index: 1;
}

.bet-button {
  width: 256;
  height: 51;
  background-color: transparent;
  border: 1px #fff solid;
  color: #fff;
  font-family: Raleway;
  font-weight: normal;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
}

.lotus-flower {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.lots {
  height: 723px;
  padding: 0 23px;
  margin-top: 180px;
}

.lots__heading {
	margin: 0 auto 27px 40px;
font-family: Raleway;
font-weight: bold;
font-size: 40px;
line-height: 100%;
letter-spacing: 0%;
text-transform: uppercase;
color: #000;
}

.lots__card-list {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	gap: 25px;
	flex-wrap: wrap;
	list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  width: 100%;
}

.card {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  background-size: cover;
  background-position: center;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  z-index: 1;
font-family: Raleway;
font-weight: bold;
font-size: 22px;
line-height: 120%;
/* letter-spacing: 0%; */
text-transform: uppercase;
text-decoration: underline;
  color: #fff;
}

.card__text {
  z-index: 1;
  text-decoration: none;
  font-family: Raleway;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  /* letter-spacing: 0%; */
  color: #fff;
}

.lots__look-more-link {
  display: block;
  margin: 30px auto 0 40px;
  font-family: Raleway;
font-weight: normal;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;

}

.about {
  height: 595px;
  padding: 35px 24px 0;
  margin: 120px 0 180px;
  display: grid;
  grid-template-columns: 334px auto;
  gap: 25px;
}

.about__column {
  align-content: center;
  /* justify-content: center; */
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-self: center top; */
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  margin: 100px 0;
  font-family: Raleway;
font-weight: bold;
font-size: 40px;
/* line-height: 100%;
letter-spacing: 0%; */
text-transform: uppercase;

}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: Raleway;
font-weight: normal;
font-size: 20px;
line-height: 24px;
/* letter-spacing: 0%; */

}

.footer {
  display: grid;
  height: 180px;
  padding-left: 50px;
  padding-right: 50px;
}

.footer__address {
  /* добавил сам, пересмотреть */
}

.footer__menu {

}

.footer__menu-list {
  list-style: none;
}

.footer__menu-link {

}

.footer__menu-link_active {

}

.footer__social-list {

}

.footer__social-list-item {
  height: 48px;
}

.footer__social-link {

}

.footer__social-icon {
  height: 48px;
  width: 48px;
}